@import "bourbon/bourbon";


$XS:     321px; 
$S:		500px; 
$S-M:	600px; 
$M:     768px; 
$M-L:	975px;    
$L:     1170px;     
$XL:	1450px;
$XXL:	2000px;


@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }

  @if $canvas == S-M {
   @media only screen and (min-width: $S-M) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == M-L {
   @media only screen and (min-width: $M-L) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) { @content; } 
  }
  @else if $canvas == XXL {
   @media only screen and (min-width: $XXL) { @content; } 
  }
}

#content {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  background: white;
}

.front-page {
	color: white;
	text-shadow: 0 0 3px hsl(0,0%,40%);
	a {
		color: white;
	}
	header {
		font-weight: 100;
		line-height: 1;
	}

	.content {
		line-height: 1.8;
	}

	.line-break {
		display: none;
		@include MQ(S-M) {
			display: inline;
		}

	}
	svg {
		width: 100%;
	}
}

section, .section {
	padding: 2em;
}

.hero-section {
	width: 100%;
	position: relative;
	padding: 0;

	@include MQ(S-M) {
		height: 75vh;
			min-height: 400px;

	}


	.copy-action-container {
		@include display(flex);
		@include flex-direction(column);
		@include align-items(flex-start);

		width: 100%;

		@include MQ(S-M) {
			@include flex-direction(row);
			@include justify-content(space-between);
			@include align-items(flex-end);

		}
	}

	header {
		font-size: 3em;
		line-height: 1.2;
		margin-bottom: 2em;
				@include MQ(S-M) {
					font-size: 5em;
				}

	}

	.content {
		@include flex(1);
		margin-bottom: 2em;
		font-size: 1em;

		@include MQ(S-M) {
			margin-bottom: 0em;
			margin-right: 2em;
			max-width: 600px;
			font-size: 1.25em;
		}

	}

	.action-text {
		@include flex(1);
	}
}

.action {
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(center);
	border: 1px solid white;
	padding: .5em .75em .5em 1em;
	width: auto;
	border-radius: 2px;


	@include transition(background .2s, color .2s);

	&:hover {
		background: white;
		color: black;

		.action-text {
			text-shadow: none;
		}

		.action-icon {
			svg {
				fill: black;
			}
		}
	}
	
	&.on-white {
		color: #333;
		border-color: #333;

		.action-icon {
			svg {
				fill: black;
			}
		}


		&:hover {
			background: black;
			color: white;

			.action-text {
				text-shadow: none;
			}

			.action-icon {
				svg {
					fill: white;
				}
			}
		}
	
	}

	&.plain {
		border: none;
		padding: 0;
		font-weight: 600;
		font-size: .8em;
		&:hover {
			background: transparent;
			color: white;

			.action-text {
				text-shadow: none;
			}
			svg {
				fill: white;
			}

		}

		&.smaller {
		font-size: .8em;
		font-weight: 600;
			padding: 0;


		.action-text {
			margin-right: 1.35em;
		}
	}
	}

	&.smaller {
		font-size: .8em;
		font-weight: 600;
			padding: .25em .75em .25em 1em;


		.action-text {
			margin-right: 4em;
		}
	}

}

.action-icon {
	width: 1.1em;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);

	svg {
		fill: white;
	}
}

.action-text {
	margin-right: 1.25em;
	letter-spacing: .3px;
	white-space: nowrap;
}




//Collections-container

.collections-container, .additional-pages-container {
	@include display(flex);
	@include flex-direction(column);

	@include MQ(S-M) {
		@include flex-direction(row);
		@include align-items(stretch);
	}

}

.collection {
	text-shadow: none;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(space-between);

	@include align-items(flex-start);
	padding-bottom: 1em;


	header {
		font-weight: 600;
		margin-bottom: 8em;
		font-size: .85em;
		letter-spacing: .3px;
	}

	.collection-title {
		font-weight: 600;
	}

	.content {
		font-size: .85em;
		margin-bottom: 2.5em;
		width: 80%;
	}


	.action-icon {
		width: 1em;
	}

	@include MQ(S-M) {
		@include flex(1);
	}
}

.yellow-coffee-section {
	background: #FBCB12;

	&:hover {
		background: darken(#FBCB12, 5%);
		text-shadow: 0 0 4px hsl(0,0%,40%);
	}
}
.blue-coffee-section {
	background: #3E94D1;
	
	&:hover {
		background: darken(#3E94D1, 5%);
				text-shadow: 0 0 4px hsl(0,0%,25%);

	}
}
.red-coffee-section {
	background: #EA201B;
	&:hover {
		background: darken(#EA201B, 5%);
				text-shadow: 0 0 4px hsl(0,0%,25%);

	}
}


.sidebar {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);

	@include MQ(S-M) {
		@include flex(1);
	}

}

.main-section-container {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);

	@include MQ(S-M) {
		@include flex(2);
	}

}

.main-section-container {
	@include MQ(S-M) {
		@include display(flex);
		@include flex-direction(column);
		@include flex(2);
	}
}


.button-aligment {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);	
}

.montly-subsription-section {
	color: #333;
	text-shadow: none;
	@include flex(4);

	@include display(flex);
		@include flex-direction(column);
		@include justify-content(space-between);

	.content {
		font-weight: 300;
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	header {
		font-size: .85em;
		font-weight: 600;
	}

	.stylistic-image {
		margin: 5em 0 3em;
	}
	img {
		width: 100%;
	}
}


.chat-blog-section {
	padding: 0;
	width: 100%;

		@include display(flex);
	@include flex(5);

	header {
		font-size: 3.25em;
		line-height: 1.4;
		margin-bottom: 2em;
	}

	.content {
	font-size: 1em;
		margin-bottom: 2.5em;
		width: 80%;
	}

	&:hover {
		.hover-div {
			background: hsla(0,0%, 0%, .4);
		}

	}

		.action-text {
		font-size: 1.2em;
	}
}


	.hover-div {
		@include transition(background .4s);
		@include flex(1);
		@include display(flex);

	}


.tips-section {
	padding: 0;
	width: 100%;

					@include MQ(S-M) {

	@include flex(8);
				@include display(flex);
		@include justify-content(flex-end);
	}


	text-align: right;

	&:hover {
		.hover-div {
			background: hsla(0,0%, 0%, .4);
		}

	}
	.inner-shade {
		@include flex(1);
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-end);
		@include justify-content(space-between);
	}

	header {
		font-size: 3.9em;
		margin-bottom: .25em;
	}
	.content {
		font-size: 1em;
		width: 80%;
		margin-bottom: 4em;
			@include MQ(S-M) {
				width: 60%;
			}

	}

	.header-content {
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-end);
	}

	.action-text {
		font-size: 1.2em;
	}

}

.wholesale-section {
	background: black;
	width: 100%;

	@include MQ(S-M) {
	@include flex(6);

	@include display(flex);
	@include flex-direction(column);
	@include justify-content(space-between);
}
	padding-right: 0;

	.header-content {
		margin-bottom: 3em;
	}
	.image {
		width: 35%;
		img {width: 100%;}

				@include display(flex);
			@include align-items(flex-end);
			@include justify-content(flex-end);
						@include MQ(S-M) {

						}

	}

	header {
		font-size: .85em;
		font-weight: 600;
		margin-top: 2.5em;
	}
	.content {
		font-size: 2.3em;
		line-height: 1.3;
		font-weight: 300;
		width: 80%;
			@include MQ(S-M) {
				width: 60%;
			}
	}

	.action-image-container {
		@include display(flex);
		@include flex-direction(row);
			@include align-items(flex-end);
			@include justify-content(space-between);


		@include MQ(S-M) {
			@include flex-direction(row);
		}
	}

	.action {
		margin-right: 2em;

		@include MQ(S-M) {
			margin-bottom: 0;
			margin-right: 2em;
		}
	}
}

.origami-footer-section {
		@include flex(1);
		width: 100%;

		padding-bottom: .85em;

border-bottom: 3px solid black;
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(flex-end);

		.logo {
			width: 1.25em;
			img {width: 100%;}
		}

		.caption{
			text-align: right;
			text-shadow: none;
			color: #333;
			font-weight: 600;
		}

}

.inner-shade {
	padding: 2em;
	width: 100%;
}

.hero-section {
	.inner-shade {
	height: 100%;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+53,0.85+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 53%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(53%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.85) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.85) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-8 */

		@include display(flex);
		@include flex-direction(column);
		@include justify-content(space-between);

	}
}

.chat-blog-section {
	.inner-shade {

		@include flex(1);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.85+0,0+52 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.85)), color-stop(52%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */

		@include display(flex);
		@include flex-direction(column);
		@include justify-content(space-between);

	}


}

.tips-section {
	.inner-shade {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+28,0.85+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.85) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.85) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=1 ); /* IE6-8 */

	}
}